.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 900;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.48);

  .item {
    padding: 20px 0;

    .navLink {
      margin-right: 20px;
      text-decoration: none;
      font-weight: 700;
      color: #819ff5;
      color: black;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
    .navLinkActive {
      color: #0077ff;
      fill: #0077ff;
    }
  }
}
