@import '../../sourses/styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 1112px;
  margin: 0 auto;

  .list {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    border-bottom: 2px solid $brandColor;
  }
  .totalContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px 0;

    .title {
      margin-right: 10px;
      font-size: 25px;
      font-weight: 700;
      color: $brandColor;
    }
    .price {
      margin-right: 10px;
      font-size: 25px;
      font-weight: 700;
      color: $brandColor;
    }
    .orderButton {
      min-width: 150px;
      margin-top: 10px;
      margin-right: 10px;

      font-size: 15px;
      font-weight: 800;
      border: none;
      background-color: rgb(104, 253, 5);
      color: black;
      box-shadow: 1px 1px 1px 1px #313030;
    }
    .remuveButton {
      margin-top: 10px;
      min-width: 150px;
      font-weight: 800;
      font-size: 15px;
      box-shadow: 1px 1px 1px 1px #313030;
      background-color: rgb(248, 57, 57);
      color: white;
    }
  }
}
