@import '../../../sourses/styles/variables.scss';

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1112px;
  margin: 0 auto;
  padding-top: 30px;

  .registWripper {
    .subtitle {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
      text-align: center;
      color: $brandColor;
    }

    .btn {
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      margin-bottom: 20px;
      border: 3px solid transparent;
      transition: border 350ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        border: 3px solid rgb(2, 218, 2);
      }
    }
  }
}
