@import '../../sourses/styles/variables.scss';

.header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 30;

  border-bottom: 2px solid white;
  background-color: #221f1f;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px 15px;

  .wripperLogo {
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      margin-left: 10px;
      margin-bottom: 5px;
      font-size: 25px;
      color: white;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .wripperTel {
    display: flex;
    align-items: center;
    justify-content: left;

    .link {
      margin-bottom: 0;
      font-family: Barlow;
      font-size: 19px;
      font-weight: 600;
      text-align: left;
      color: white;
    }

    .icon {
      width: 30px;
      height: 30px;
      margin-right: 20px;
    }
  }

  .navList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding: 0 20px;

    .item {
      position: relative;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 20px;

      .link {
        font-weight: 700;
        text-transform: uppercase;

        .icon:hover {
          color: $brandColor;
        }
      }
      .linkActive {
        color: $activeColor;

        .icon {
          fill: $activeColor;
        }
      }
    }
  }
}
