@import '../../sourses/styles/variables.scss';

.header {
  border-bottom: 2px solid $brandColor;
  background-color: #424242;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1112px;
  margin: 0 auto;
  padding: 10px 15px;

  .title {
    margin-bottom: 10px;
    font-size: 25px;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }

  .navigationList {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;

    .item {
      position: relative;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 20px;
      list-style: none;

      .link {
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        color: $brandColor;

        &:hover {
          color: $brandColor;
        }
      }
      .linkActive {
        color: $brandColor;
      }
    }
  }
}
