@import '../../sourses/styles/variables.scss';

.homePage {
  background-image: url('https://www.apple.com/ua/imac-24/images/overview/colors_lifestyle_fallback__fat816a51hua_large.jpg');

  .container {
    display: block;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
  }
  .title {
    display: block;
    margin: 0;
    font-size: 35px;
    text-align: center;
    text-shadow: $textShadow;
    color: white;
  }
}
