@import '../../sourses/styles/variables.scss';

.homePage {
  padding-top: 70px;

  .hero {
    width: 100%;
    height: 390px;
    margin: 0 auto;
    padding-top: 100px;
    background-image: url('https://www.apple.com/v/iphone/home/bc/images/overview/hero/iphone_13__fc54ap6asium_large.jpg');
    background-size: cover;
    background-position: center right;

    .heroTitle {
      margin: 0 auto;
      font-size: 30px;
      font-weight: 600;
      text-align: center;
      color: white;
    }
  }
  .container {
    display: block;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
  }
  .title {
    display: block;
    margin: 0;
    font-size: 35px;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
    color: $brandColor;
  }
}
