@import '../../sourses/styles/variables.scss';

.container {
  display: block;
  width: 100%;
  max-width: 1112px;
  margin: 0 auto;

  .titlePage {
    margin-bottom: 20px;
    font-size: 25px;
    color: $brandColor;
    text-align: center;
    text-shadow: $textShadow;
  }

  .title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
    text-shadow: $textShadow;
  }

  .img {
    width: 100%;
    border-radius: 10px;
  }
}
